*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.container
{
    position: relative;
}
.container .card
{ 
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .card:before 
{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8C1F28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
    clip-path: circle(300px at 80% -20%);
}
.container .card:after
{
    content: 'Nike';
    position: absolute;
    top:30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgbox
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220%;
    transition: 1.5s;
    padding-left: 48%;
}
.container .card:hover .imgbox
{
    top: -80%;
    transform: translateY(0%);
}
.container .card .imgbox img
{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 190px;

}
.container .card .contentbx 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1.5s;
    z-index: 10;
}
.container .card:hover .contentbx
{
    height: 210px; 
}
.container .card .contentbx h2
{
     position: relative;
     font-weight: 600;
     letter-spacing: 1px;
     color: #ffff;
}
.container .card .contentbx .size,
.container .card .contentbx .colour
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
}
.container .card:hover .contentbx .size
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5;

}
.container .card:hover .contentbx .colour
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;

}
.container .card .contentbx .size h3,
.container .card .contentbx .colour h3
{
        color: #ffff;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
}
.container .card .contentbx .size span
{
 width: 26px;
 height: 26px;
 text-align: center;
 line-height: 26px;
 font-size: 14px;
 display: inline-block;
 color: #111;
 background: #ffff;
 margin: 0 5px;
 transition: 0.5s;
 border-radius: 4px;
 cursor : pointer;
}

.container .card .contentbx .size span:hover
{
    background: #232323;
}
.container .card .contentbx .colour span
{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contentbx .colour span:nth-child(2)
{
    background: #8C1F28;
}
.container .card .contentbx .colour span:nth-child(3)
{
    background: #9bdc9b;
}
.container .card .contentbx .colour span:nth-child(4)
{
    background: #BCE615;
}
.container .card .contentbx a
{
    display: inline-block;
    padding: 10px 20px;
    background: #ffff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentbx a
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}